html, body {
    height: 100%;
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #4a4a4a;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 60px 0 0 0;
}

#hamburger {
    position: fixed;
    left: -18px;
    opacity: 0.6;
}

.background-color-shadow {
    background-color: #F5F5F5;
}

menu-panel a {
    color: #808080;
}

menu-panel a:hover {
    background-color: #87CEEB;
}

.animation {
    transition: background-color 0.2s ease-out;
}

.main {
    min-height: 100%;
    position: absolute;
    float: left;
    top: auto;
    left: 240px;
}
