  :host {
      display: block;
      position: fixed;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
  
      padding-left: 1em;
  
      top: 0px;
  	  left: 0px;
  	  z-index: 10;
  
      width: 100%;
      height: 60px;
      box-shadow: 0px 1px 1px rgba(50, 80, 80, 0.2);
  	  font-size: 1.5em;
  }
  
#bottom {
    position: absolute;
    bottom: 0;
}
  