<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="header-panel" noscript>
  <template>
    <link rel="stylesheet" href="header-panel.css">

    <div id='bottom'>
      <content></content>
    </div>

  </template>
</polymer-element>
