:host {
    display: block;
    position: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;

    top: auto;
	  left: 0px;
	  z-index: 1;

    /* size */
    min-height: 100%;
    width: 240px;

    overflow: scroll;
}

::content > a {
  	display: block;
    padding: 1em;
	  font-size: 1.1em;
    padding-top: 1em;
    text-decoration: none;
    box-shadow: 0px 1px 1px rgba(50, 80, 80, 0.1);
}
