<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="menu-panel" noscript>
  <template>
    <link rel="stylesheet" href="menu-panel.css">

    <nav>
      <content></content>
    </nav>

  </template>
</polymer-element>
